@import '../preferences/current/theme/waybar.css';

* {
  font-family: Monaspace Krypton;
  font-size: 13px;
  min-height: 0;
  padding: 0.2rem 0.5rem;
  color: white;
}

#custom-logo {
  font-family: CaskaydiaMono Nerd Font;
  font-size: 15px;
}

window#waybar {
  background: @background;
}

tooltip {
  background: @background;
}

#workspaces {
  border: none;
  outline: none;
}

#workspaces button {
  color: @selected-text;
  opacity: 0.5;
  padding: 0;
}

#workspaces button.focused {
  opacity: 1;
}

#workspaces button:hover {
  background: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#wireplumber {
  margin: 0 0.3rem;
}

#clock {
  font-weight: 500;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}
