@import '../preferences/current/theme/waybar.css';

* {
  font-family: CaskaydiaMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding: 0.1rem;
}

window#waybar {
  background: @background;
  color: @text;
}

tooltip {
  background: @background;
}

tooltip label {
  color: @text;
}

#workspaces {
  border: none;
  outline: none;
}

#workspaces button {
  color: @text;
  opacity: 0.5;
}

#workspaces button.focused {
  opacity: 1;
}

#workspaces button:hover {
  background: transparent;
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#wireplumber {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: @text;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}
