@define-color foreground #8a8a8d;
@define-color background rgba(30, 30, 30, 0.75);

* {
  background-color: transparent;
  color: @foreground;
  border: none;
  border-radius: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 14px;
}

#workspaces button {
  all: initial;
  padding: 0px 5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces {
  background-color: @background;
  border-radius: 12px;
  padding: 4px 6px;
}

tooltip {
  padding: 2px;
}

#cpu, #pulseaudio {
  background-color: @background;
}

#cpu {
  border-radius: 12px 0 0 12px;
  padding: 0px 7px 0px 12px;
}

#pulseaudio {
  border-radius: 0 12px 12px 0;
  padding: 0px 14px 0px 7px;
  margin: 0 6px 0 0;
}

#clock {
  background-color: @background;
  border-radius: 12px;
  padding: 0px 14px;
}

.hidden {
  opacity: 0;
}

