@theme "theme.rasi"

configuration {
	modi: "window,run,drun";
	case-sensitive: false;
	cycle: true;
	steal-focus: false;
	normalize-match: true;
	font: "JetBrains Mono 12";
	show-icons: true;
	icon-theme: "Yaru";
	
	/* Matching */
	matching: "normal";
	tokenize: true;
	
	/* Drun settings */
	drun-categories: "";
	drun-match-fields: "name,generic,exec,categories,keywords";
	drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
	drun-show-actions: false;
	drun-url-launcher: "xdg-open";
	drun-use-desktop-cache: false;
	drun-reload-desktop-cache: false;
	drun {
		/** Parse user desktop files. */
		parse-user:   true;
		/** Parse system desktop files. */
		parse-system: true;
    	}
}
